[submodule "Packages/getcontacts"]
	path = Packages/getcontacts
	url = https://github.com/frannerin/getcontacts.git
	shallow = true
[submodule "Packages/dynetan"]
	path = Packages/dynetan
	url = https://github.com/frannerin/dynetan
	shallow = true
[submodule "Packages/MD-TASK"]
	path = Packages/MD-TASK
	url = https://github.com/frannerin/MD-TASK
	shallow = true
[submodule "Packages/pyinteraph2"]
	path = Packages/pyinteraph2
	url = https://github.com/frannerin/pyinteraph2
	shallow = true
[submodule "Packages/gRINN_Bitbucket"]
	path = Packages/gRINN_Bitbucket
	url = https://bitbucket.org/fnerin/grinn_bitbucket.git
	shallow = true
