mdanalysis>=2.2,<2.3 # 2.3 or above fails with non-complying "formalcharges" last column of PDBs (GPCRmd PDBs)
numpy<1.24  # 1.24 removed numpy.int and numpy.float needed for dynetan and PyInteraph2

multiprocess
lazyasd
pandas
pyarrow
numba
networkx
# pymol-open-source # not in pypi
# ambertools # not in pypi
nglview
prody
mdtraj
python-louvain
compilers

parmed

# for dynetan
cython 
h5py
colorama

scikit-learn # for CARDS and MDEntropy
tables # for CARDS

# needs to have libnetcdf for vmd-python; probably hdf4 and 5 as well
