.git
**/.git
.venv
.venv/

__pycache__/
*.py[cod]
.cache/
.pytest_cache/
.mypy_cache/
.tox/
.nox/
.coverage*
htmlcov/
.ipynb_checkpoints/

.github/
dev/
docs/
gui/
test/

build/
dist/
*.egg-info/
.eggs/

src/Packages/**/.github/
src/Packages/**/docs/
src/Packages/**/doc/
src/Packages/**/examples/
src/Packages/**/example/
src/Packages/**/tutorial/
src/Packages/**/tutorials/
src/Packages/**/tests/
src/Packages/**/test/
